.linea-violeta {
  height: 5px;
  background-color: #572EE5;
  width: 100%;
}

.linea-dark {
  background-color: #000000;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
  background-color: #ffffff;
  padding: 29px 26px 17px 22px;
}

header .navbar #logo {
  width: 56px;
}

header .navbar #logo-desktop {
  display: none;
}

header .navbar nav .menu {
  /* lo que pasa cuando apreto el checkbox*/
}

header .navbar nav .menu ul {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 0px;
  height: calc(100vh - 100px);
  padding-left: 0px;
  padding-top: 32px;
  overflow: hidden;
  background-color: rgba(87, 46, 229, 0.9);
  list-style-type: none;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header .navbar nav .menu ul li {
  position: relative;
}

header .navbar nav .menu ul li .menu-items {
  display: block;
  position: relative;
  padding-bottom: 11px;
  padding-top: 13px;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

header .navbar nav .menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20.5px);
  width: 41px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.5;
}

header .navbar nav .menu ul li .menu-creargifo {
  display: none;
}

header .navbar nav .menu ul li:first-child .menu-items {
  padding-top: 0;
}

header .navbar nav .menu #checkbox {
  display: none;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 16px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header .navbar nav .menu label span {
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  background-color: #572EE5;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

header .navbar nav .menu label .span1 {
  -webkit-transform-origin: 10% 0%;
          transform-origin: 10% 0%;
  margin-bottom: 3px;
  background-color: #572EE5;
}

header .navbar nav .menu label .span2 {
  margin-bottom: 3px;
  background-color: #572EE5;
}

header .navbar nav .menu label .span3 {
  -webkit-transform-origin: 10% 100%;
          transform-origin: 10% 100%;
  background-color: #572EE5;
}

header .navbar nav .menu input:checked ~ ul {
  width: 100%;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header .navbar nav .menu input:checked ~ label .span1 {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #572EE5;
}

header .navbar nav .menu input:checked ~ label .span2 {
  opacity: 0;
}

header .navbar nav .menu input:checked ~ label .span3 {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #572EE5;
}

@media screen and (min-width: 750px) {
  header .navbar {
    height: 90px;
    padding-top: 18px;
  }
  header .navbar #logo {
    display: none;
  }
  header .navbar #logo-desktop {
    display: block;
    width: 59px;
  }
  header .navbar nav .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
    height: unset;
    padding-top: 0;
    background-color: unset;
  }
  header .navbar nav .menu ul li {
    display: inline-block;
    padding-top: 0;
    margin-left: 40px;
  }
  header .navbar nav .menu ul li .menu-items {
    display: block;
    position: relative;
    padding-bottom: 1px;
    padding-top: 3px;
    border-bottom: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #572EE5;
  }
  header .navbar nav .menu ul li::after {
    display: none;
  }
  header .navbar nav .menu ul li .menu-items:hover {
    border-bottom: 2px solid #50E3C2;
  }
  header .navbar nav .menu ul li .menu-items:active {
    color: #9CAFC3;
  }
  header .navbar nav .menu ul li .menu-creargifo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 54px;
    width: 54px;
    padding-top: 0;
    border-radius: 50%;
    border: 1px solid #572EE5;
    background-color: unset;
  }
  header .navbar nav .menu ul li .menu-creargifo .mas-violeta {
    width: 16px;
  }
  header .navbar nav .menu ul li .menu-creargifo .mas-blanco {
    width: 16px;
    display: none;
  }
  header .navbar nav .menu ul li .menu-creargifo:hover {
    background-color: #572EE5;
    border-bottom: none;
  }
  header .navbar nav .menu ul li .menu-creargifo:hover .mas-violeta {
    display: none;
  }
  header .navbar nav .menu ul li .menu-creargifo:hover .mas-blanco {
    display: block;
  }
  header .navbar nav .menu ul li .menu-creargifo:active {
    background-color: #9CAFC3;
  }
  header .navbar nav .menu ul li:last-child {
    margin-left: 53px;
  }
  header .navbar nav .menu ul li:first-child .menu-items {
    padding-top: 3px;
  }
  header .navbar nav .menu #checkbox {
    display: none;
  }
  header .navbar nav .menu label span {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  header .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1300px) {
  header .navbar {
    padding-left: 156px;
    padding-right: 156px;
  }
}

footer .datos .footer-redes {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .datos .footer-redes p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

footer .datos .footer-redes .redes-iconos-contenedor {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .datos .footer-redes .redes-iconos-contenedor .redes-icon {
  padding: 0 9px;
}

footer .datos .footer-redes .redes-iconos-contenedor .redes-icon .icon {
  height: 20px;
}

footer .datos .footer-redes .redes-iconos-contenedor .redes-icon .icon-hover {
  height: 20px;
  display: none;
}

footer .datos .footer-redes .redes-iconos-contenedor .redes-icon:hover .icon {
  display: none;
}

footer .datos .footer-redes .redes-iconos-contenedor .redes-icon:hover .icon-hover {
  display: block;
}

footer .datos .footer-copyright {
  margin-top: 46px;
  margin-bottom: 23px;
}

footer .datos .footer-copyright p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 1440px) {
  footer .datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 47px 156px 48px;
  }
  footer .datos .footer-redes {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .datos .footer-redes p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
  }
  footer .datos .footer-redes .redes-iconos-contenedor {
    margin-top: 0px;
    margin-left: 17px;
  }
  footer .datos .footer-redes .redes-iconos-contenedor .redes-icon {
    padding: 0 9px;
  }
  footer .datos .footer-redes .redes-iconos-contenedor .redes-icon .icon {
    height: 20px;
  }
  footer .datos .footer-redes .redes-iconos-contenedor .redes-icon .icon-hover {
    height: 20px;
    display: none;
  }
  footer .datos .footer-redes .redes-iconos-contenedor .redes-icon:hover .icon {
    display: none;
  }
  footer .datos .footer-redes .redes-iconos-contenedor .redes-icon:hover .icon-hover {
    display: block;
  }
  footer .datos .footer-copyright {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  footer .datos .footer-copyright p {
    font-size: 13px;
  }
}

.main-header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 33px;
  padding: 7px 54px 31px 54px;
}

.main-header h1 .gifos {
  color: #50E3C2;
}

.main-header .buscador-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .buscador-contenedor img {
  width: 273px;
}

.main-header .buscador-contenedor .buscador {
  border: 1px solid #572EE5;
  border-radius: 27px;
  width: 334px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header .buscador-contenedor .buscador .buscador-bloque {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 18px;
}

.main-header .buscador-contenedor .buscador .buscador-bloque .buscador-y-lupa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header .buscador-contenedor .buscador .buscador-bloque .buscador-y-lupa .buscador-lupa-gris {
  padding-top: 2px;
  width: 22px;
  opacity: 0;
}

.main-header .buscador-contenedor .buscador .buscador-bloque .buscador-y-lupa .input-buscador {
  margin-left: 15px;
  border: none;
  font-family: "Roboto", sans-serif;
  color: #9CAFC3;
  font-size: 16px;
  text-align: left;
  line-height: 19px;
  font-weight: 400;
}

.main-header .buscador-contenedor .buscador .buscador-bloque #btn-buscador {
  background-color: unset;
  border: none;
  cursor: pointer;
}

.main-header .buscador-contenedor .buscador .buscador-bloque #btn-buscador .icon-lupa-abierta {
  padding-top: 3px;
  width: 22px;
}

.main-header .buscador-contenedor .buscador .buscador-bloque #btn-buscador .icon-cerrar-busqueda {
  display: none;
}

.main-header .buscador-contenedor .buscador .buscador-sugerencias {
  display: none;
}

.main-header .trending-sugerencias {
  margin-top: 31px;
}

.main-header .trending-sugerencias h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #572EE5;
  font-size: 16px;
  line-height: 25px;
}

.main-header .trending-sugerencias #trending-topics {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  padding: 3px 85px 0px 85px;
}

.buscador-activo {
  border: 1px solid #572EE5;
  border-radius: 27px;
  width: 334px;
  height: 200px;
}

.buscador-activo .buscador-bloque {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 18px;
}

.buscador-activo .buscador-bloque .buscador-y-lupa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buscador-activo .buscador-bloque .buscador-y-lupa .buscador-lupa-gris {
  padding-top: 2px;
  width: 22px;
  opacity: 1;
}

.buscador-activo .buscador-bloque .buscador-y-lupa .input-buscador {
  margin-left: 15px;
  border: none;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 16px;
  text-align: left;
  line-height: 19px;
  font-weight: 400;
}

.buscador-activo .buscador-bloque #btn-buscador {
  background-color: unset;
  border: none;
}

.buscador-activo .buscador-bloque #btn-buscador .icon-lupa-abierta {
  display: none;
}

.buscador-activo .buscador-bloque #btn-buscador .icon-cerrar-busqueda {
  width: 14px;
}

.buscador-activo .buscador-sugerencias {
  display: block;
  margin: 0 18px;
  border-top: 1px solid grey;
}

.buscador-activo .buscador-sugerencias .sugerencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
}

.buscador-activo .buscador-sugerencias .sugerencia .sugerencia-lupa-gris {
  width: 16px;
}

.buscador-activo .buscador-sugerencias .sugerencia .buscador-sugerencia-texto {
  margin-left: 20px;
  border: none;
  font-family: "Roboto", sans-serif;
  color: #9CAFC3;
  font-size: 16px;
  text-align: left;
  line-height: 19px;
  font-weight: 300;
}

#resultados-busqueda-contenedor {
  display: block;
  position: relative;
  margin-top: 35px;
  text-align: center;
}

#resultados-busqueda-contenedor::before {
  content: "";
  position: absolute;
  top: 1;
  left: calc(50% - 78.5px);
  width: 157px;
  border-bottom: 1px solid #9CAFC3;
  opacity: 0.5;
}

#titulo-busqueda {
  position: relative;
  padding-top: 43px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 40px;
}

#resultados-busqueda {
  margin: 38px 10px 53px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resultados-gif-box {
  width: 44%;
  height: 120px;
  overflow: hidden;
  margin: 0 10px 25px 10px;
}

.resultados-gif {
  width: 100%;
}

.btn-generico {
  color: #572EE5;
  background-color: unset;
  border: 1px solid #572EE5;
  border-radius: 25px;
  padding: 16px 32px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .main-header h1 {
    font-size: 35px;
    line-height: 50px;
    padding: 76px 440px 24px 440px;
  }
  .main-header .buscador-contenedor img {
    width: 399px;
  }
  .main-header .buscador-contenedor .buscador {
    width: 551px;
  }
  .main-header .trending-sugerencias {
    margin-top: 73px;
  }
  .main-header .trending-sugerencias h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #572EE5;
    font-size: 18px;
  }
  .main-header .trending-sugerencias #trending-topics {
    font-size: 16px;
    padding-top: 7px;
  }
  .buscador-activo {
    width: 551px;
  }
  #resultados-busqueda-contenedor {
    margin-top: 55px;
  }
  #titulo-busqueda {
    padding-top: 81px;
    font-size: 35px;
    line-height: 30px;
  }
  #resultados-busqueda {
    margin: 59px 146px 47px 146px;
  }
  .resultados-gif-box {
    width: 22%;
    height: 200px;
    margin: 0 15px 31px 15px;
  }
  .btn-generico:hover {
    background-color: #572EE5;
    color: #ffffff;
  }
}

.trending {
  margin-top: 79px;
  background-color: #F3F5F8;
  overflow: hidden;
}

.trending h2 {
  padding-top: 44px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 30px;
}

.trending p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  padding: 9px 100px;
}

.trending-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 23px 0px 82px 0px;
  width: 400%;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
}

.gif-contenedor {
  width: 243px;
  height: 187px;
  margin-left: 22px;
}

.gif-acciones {
  display: none;
}

.trending-gif {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -265px;
  }
  45% {
    margin-left: -265px;
  }
  50% {
    margin-left: -530px;
  }
  70% {
    margin-left: -530px;
  }
  75% {
    margin-left: -773px;
  }
  100% {
    margin-left: -773px;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -265px;
  }
  45% {
    margin-left: -265px;
  }
  50% {
    margin-left: -530px;
  }
  70% {
    margin-left: -530px;
  }
  75% {
    margin-left: -773px;
  }
  100% {
    margin-left: -773px;
  }
}

@media screen and (min-width: 1440px) {
  .trending h2 {
    padding-top: 78px;
    font-size: 30px;
  }
  .trending p {
    font-size: 18px;
    padding: 14px 0 0 0;
  }
  .trending .trending-slider {
    margin: 53px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: unset;
    padding-bottom: 169px;
  }
  .gif-contenedor {
    width: 357px;
    height: 275px;
    margin: 0 15px;
  }
  .gif-acciones {
    position: absolute;
    z-index: 0;
    background-color: rgba(87, 46, 229, 0.6);
    width: 357px;
    height: 275px;
  }
  .gif-acciones .iconos-acciones-gif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .gif-acciones .iconos-acciones-gif .iconos-acciones-box {
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: 6px;
    border: none;
  }
  .gif-acciones .iconos-acciones-gif .favorito {
    cursor: pointer;
  }
  .gif-acciones .iconos-acciones-gif .download {
    margin-left: 10px;
    cursor: pointer;
  }
  .gif-acciones .iconos-acciones-gif .max {
    margin-left: 10px;
    cursor: pointer;
  }
  .gif-acciones .iconos-acciones-gif .iconos-acciones-box:hover {
    background-color: #ffffff;
  }
  .gif-acciones .textos-descripcion-gif {
    position: absolute;
    bottom: 51px;
    left: 18.5px;
  }
  .gif-acciones .textos-descripcion-gif .user-gif {
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    line-height: 18px;
    padding: 0;
    margin-bottom: 6px;
  }
  .gif-acciones .textos-descripcion-gif .titulo-gif {
    text-align: left;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
  .gif-contenedor:hover .gif-acciones {
    display: block;
  }
  .trending-gif {
    padding: 0;
    height: 100%;
  }
}

.linea-dark {
  background-color: #000000;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
  background-color: #ffffff;
  padding: 29px 26px 17px 22px;
}

header .navbar #logo {
  width: 56px;
}

header .navbar #logo-desktop {
  display: none;
}

header .navbar nav .menu {
  /* lo que pasa cuando apreto el checkbox*/
}

header .navbar nav .menu ul {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 0px;
  height: calc(100vh - 100px);
  padding-left: 0px;
  padding-top: 32px;
  overflow: hidden;
  background-color: rgba(87, 46, 229, 0.9);
  list-style-type: none;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header .navbar nav .menu ul li {
  position: relative;
}

header .navbar nav .menu ul li .menu-items {
  display: block;
  position: relative;
  padding-bottom: 11px;
  padding-top: 13px;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

header .navbar nav .menu ul li .menu-items-dark {
  color: #ffffff;
}

header .navbar nav .menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20.5px);
  width: 41px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.5;
}

header .navbar nav .menu ul li .menu-creargifo {
  display: none;
}

header .navbar nav .menu ul li:first-child .menu-items {
  padding-top: 0;
}

header .navbar nav .menu .ul-dark {
  background-color: #000000;
}

header .navbar nav .menu #checkbox {
  display: none;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 16px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header .navbar nav .menu label span {
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  background-color: #000000;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

header .navbar nav .menu label .span1 {
  -webkit-transform-origin: 10% 0%;
          transform-origin: 10% 0%;
  margin-bottom: 3px;
}

header .navbar nav .menu label .span2 {
  margin-bottom: 3px;
}

header .navbar nav .menu label .span3 {
  -webkit-transform-origin: 10% 100%;
          transform-origin: 10% 100%;
}

header .navbar nav .menu label .span-dark {
  background-color: #ffffff;
}

header .navbar nav .menu input:checked ~ ul {
  width: 100%;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header .navbar nav .menu input:checked ~ label .span1 {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000000;
}

header .navbar nav .menu input:checked ~ label .span-dark {
  background-color: #ffffff;
}

header .navbar nav .menu input:checked ~ label .span2 {
  opacity: 0;
}

header .navbar nav .menu input:checked ~ label .span-dark {
  background-color: #ffffff;
}

header .navbar-dark {
  background-color: #37383C;
}

@media screen and (min-width: 750px) {
  header .navbar {
    height: 90px;
    padding-top: 18px;
  }
  header .navbar #logo {
    display: none;
  }
  header .navbar #logo-desktop {
    display: block;
    width: 59px;
  }
  header .navbar nav .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
    height: unset;
    padding-top: 0;
    background-color: unset;
  }
  header .navbar nav .menu ul li {
    display: inline-block;
    padding-top: 0;
    margin-left: 40px;
  }
  header .navbar nav .menu ul li .menu-items {
    display: block;
    position: relative;
    padding-bottom: 1px;
    padding-top: 3px;
    border-bottom: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #572EE5;
  }
  header .navbar nav .menu ul li .menu-items-dark {
    color: #ffffff;
    border-bottom: 2px solid #37383C;
  }
  header .navbar nav .menu ul li::after {
    display: none;
  }
  header .navbar nav .menu ul li .menu-items:hover {
    border-bottom: 2px solid #50E3C2;
  }
  header .navbar nav .menu ul li .menu-items:active {
    color: #9CAFC3;
  }
  header .navbar nav .menu ul li .menu-creargifo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 54px;
    width: 54px;
    padding-top: 0;
    border-radius: 50%;
    border: 1px solid #572EE5;
    background-color: unset;
  }
  header .navbar nav .menu ul li .menu-creargifo .mas-violeta {
    width: 16px;
  }
  header .navbar nav .menu ul li .menu-creargifo .mas-blanco {
    width: 16px;
    display: none;
  }
  header .navbar nav .menu ul li .menu-creargifo-dark {
    border: 1px solid #ffffff;
  }
  header .navbar nav .menu ul li .menu-creargifo:hover {
    background-color: #572EE5;
    border-bottom: none;
  }
  header .navbar nav .menu ul li .menu-creargifo:hover .mas-violeta {
    display: none;
  }
  header .navbar nav .menu ul li .menu-creargifo:hover .mas-blanco {
    display: block;
  }
  header .navbar nav .menu ul li .menu-creargifo-dark:hover {
    background-color: #ffffff;
  }
  header .navbar nav .menu ul li .menu-creargifo:active {
    background-color: #9CAFC3;
  }
  header .navbar nav .menu ul li:last-child {
    margin-left: 53px;
  }
  header .navbar nav .menu ul li:first-child .menu-items {
    padding-top: 3px;
  }
  header .navbar nav .menu .ul-dark {
    background-color: unset;
  }
  header .navbar nav .menu #checkbox {
    display: none;
  }
  header .navbar nav .menu label span {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  header .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1300px) {
  header .navbar {
    padding-left: 156px;
    padding-right: 156px;
  }
}

* {
  margin: auto 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=estilos.css.map */