//menu mobile
.linea-dark {
    background-color: $negro;
}

header {
    .navbar {
        nav {
            .menu {
                ul {
                    li {
                        .menu-items-dark {
                            color: $blanco;
                        }
                    }

                    li:first-child .menu-items {
                        padding-top: 0;
                    }
                }

                .ul-dark {
                    background-color: $negro;
                }

                label {
                    .span-dark {
                        background-color: $blanco;
                    }
                }

                /* lo que pasa cuando apreto el checkbox*/

                input:checked ~ label .span-dark {
                    background-color: $blanco;
                }
            }
        }
    }

    .navbar-dark {
        background-color: $gris-oscuro;
    }
}

//menu desktop
@media screen and (min-width: 750px) {
    header {
        .navbar {
            nav {
                .menu {
                    ul {
                        li {
                            .menu-items-dark {
                                color: $blanco;
                                border-bottom: 2px solid $gris-oscuro;
                            }

                            .menu-creargifo-dark {
                                border: 1px solid $blanco;
                            }

                            .menu-creargifo-dark:hover {
                                background-color: $blanco;
                            }

                            .menu-creargifo-dark:active {
                                background-color: $blanco;
                            }
                        }
                    }

                    .ul-dark {
                        background-color: unset;
                    }
                }
            }
        }
    }
}

//menu desktop sticky
